html {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: #1B244A;
}

body {
    margin: 0;
    color: white;
    text-align: center;
}

.body {
    background-color: #1B244A;
    margin: 0 auto;
    width: 600px;
    height: 470px;
    border: solid #9AABD8 2px;
    border-radius: 10px;
}

.container {
    background-color: #1B244A;
    margin: 0 auto;
    width: 600px;
    height: 385px;
    display: flex;
    justify-content: space-around;
}

h1 {
    font-family:Verdana, Tahoma, sans-serif;
    font-size: 2.5em;
    margin: 3.5rem 0 1rem 0;

}

.count-p {
    width: 166.25px;
}

p {
    padding: 25px 40px 10px 40px;
    color: #F94F6D;
    background-color: #080001;
    font-family: 'Cursed Timer ULiL';
    font-size: 5.5em;
    border-radius: 8px;
    margin: 0 0 2rem 0;
}

button {
    font-family: 'Cursed Timer ULiL';
    font-size: 1em;
    color: #9AABD8;
    background-color: #1B244A;
    border: solid #9AABD8 2px;
    padding: .7rem;
    margin: 0 .2rem;
    border-radius: 5px;
}